body {
    margin: 0;
    background-color: #161925;
    color: #EFF1ED;
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.timer-block {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vw);
}
.clock-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30%;
}
.clock {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: 4px solid #EE4266;
    background-color: #FFFFFF34;
}
#numbers {
    font-size: calc(10px + 1.2vw);
}
.hand {
    background-color: #1599aa;
    height: 16vw;
    width: 2px;
    transform-origin: bottom;
    position: absolute;
    left: 50%;
    top: calc(50vh - 16vw);
    transition: all 0.1s cubic-bezier(0.1, 2.7, 0.58, 1);
}
button {
    padding: 20px;
    background-color: #EE4266;
    color: #1f1f1f;
    border: none;
    border-radius: 10px;
    width: 120px;
}
button:hover {
    background-color: #EE4266aa;
}
.detail {
    color: #797D81;
}